.dropdown-container {
    text-align: left;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 5px;
  }
  
  .dropdown-input {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }
  .dropdown-menu{
    position: absolute;
    transform: translateY(4px);
    width: 100%;
    border: 1px solid white;
    overflow: auto;
    border-radius: 5px;
    max-height: 300px;
    background-color: white;
  }
  .dropdown-item{
    padding: 5px;
    cursor: pointer;
  }
  .dropdown-item:hover{
    background-color: aquamarine;
  }

  .dropdown-item.selected{
    background-color: blue;
    color: #fff;
  }