.dropdown-container {
    position: relative;
    border-radius: 5px;
  }
  
  .dropdown-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }
  .dropdown-menu{
    position: absolute;
    transform: translateY(0px);
    width: 100%;
    border: 1px solid white;
    overflow: auto;
    border-radius: 5px;
    max-height: 50vh;
    background-color: #130829;
    z-index: 1000 !important;
  }
  .dropdown-item{
    padding: 5px;
    cursor: pointer;
  }
  .dropdown-item:hover{
    background-color: #040125;
    border: 1px solid black;
    transition: .3s;
  }

  .searchBox{
    width: 100%;
  }

  .inputfield{
    background-color: #2D4159;
    color: antiquewhite;
    width: 100%;
  }