

.elementItemWrapper{
    display: flex;
    border-radius: 10px;
    background-color: #040125;
    border: 2px solid black;
    height: 14vh;
    width: 40vw;
    max-width: 600px;
    min-height: 100px;
    min-width: 250px;
    justify-content: center;
    align-items: center;
}

.levelDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0.5em;
    width: 18%;
    height: 100%;
}

.leveltitlediv{
    display: flex;
}

.itemButtonClass{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    font-weight: bold;
    color: antiquewhite;
}

.buttonpadding{
    display: flex;
    padding: .1vh 0 .1vh 0;
    position: relative;

}

.imgClasswrapper{
    display: flex;
    height: 100%;
    width: 20%;
    align-items: center;
}

.imgClass{
    display: flex;
    max-width:100%;
    max-height:100%;
}

.statsWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}
.nameDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.statsRowWrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    min-height: 60px;
    height: 100%;
    align-items: baseline;
}

.statsRow{
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    color: antiquewhite;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
}

.statsRowElement{
    padding-right: .4vw;
    width: 5vw;
    margin-right: 0;
    

}

.statsRowElement2{
    color: gray;
}

.clicked{
    background-color: #0677A1;
}

.uncommon{
    color: green;
}

.rare{
    color: blue;
}

.super{
    color: #800000;
}