.MetaroomStats{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    margin-top: 3vh;
}
.statsDiv{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 10vh;
    width: 15vw;
    align-items: center;
    justify-content: center;
}
.images{
    width: 5vw;
}
.arrow{
    font-size: 2vh;
    color: yellow;
}
.values{
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    align-items: center;
}
.filler{
    color: antiquewhite;
}
.categoryDiv{
    display: flex;
    align-items: center;
    font-size: 2vh;
    color: gray;
}
.statsWrapper2{
    padding: 1.8vh 0 1.8vh 0;
}

.yourmetaroom{
    width: 40vw;
    margin-left: 2vw;
    font-size: 1rem;
}
.MetaroomStats{
    display: flex;
    width: 16vw;
    padding-left: 1vw;
    padding-right: 1vw;
}
.newmetaroom{
    width: 40vw;
    margin-right: 2vw;
    font-size: 1em;
}