/*
Color scheme:
#59253A
#78244C
#895061
#0677A1
#2D4159
#020024
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'alegreya', serif;
    line-height: 1.4;
    height: 100vh;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(89,37,58,1) 100%, rgba(120,36,76,1) 100%);
  }
  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Header{
    color: antiquewhite;
  }
  .Subheader{
    color: antiquewhite;
  }

  /* format button */
  a:hover, a:link, a:visited, a:active{
    text-decoration: none;
  }
  button{
    align-items: center;
    justify-content: center;
    border: 1px solid #2D4159;
    box-shadow: 10px 10px 20px -9px black;
    width: 300px;
    height: 40px;
    background-color: #2D4159;
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 15px;
  }
  button:hover{
    background-color: #0677A1;
  }
  .linkClass{
    display: flex;
    justify-content: center;
    width: 100%;
    color: #0677A1;
    transition: 0.3s;
  }
  .linkClass:hover{
    color: #2D4159;
  }