/*
Color scheme:
#59253A
#78244C
#895061
#0677A1
#2D4159
#020024
*/

  .wrapper{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 70vh;
    justify-content: center;
    align-items: center;
  }

  .Headers{
    color: antiquewhite;
  }
  .Subheader{
    color: antiquewhite;
  }

  /* format button */
  a:hover, a:link, a:visited, a:active{
    text-decoration: none;
  }
  button{
    align-items: center;
    justify-content: center;
    border: 1px solid #2D4159;
    box-shadow: 10px 10px 20px -9px black;
    width: 50vw;
    max-width: 400px;
    height: 5vh;
    background-color: #2D4159;
    letter-spacing: .1rem;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 15px;
  }
  button:hover{
    background-color: #0677A1;
  }
  .linkClass{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: antiquewhite;
    /*color: #0677A1;*/
    transition: 0.3s;
  }
  .linkClass:hover{
    color: #2D4159;
  }
  .linkdivClass{
    padding: .6vh 10vw .6vh 10vw;
  }
  .frontpageimage{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width:100%;
    max-height:100%;
  }
  .frontpageimagediv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31vw;
    height: 31vh;
  }